<?xml version="1.0"?>
<DHCPServer networkName="LdNatNetwork0" trunkType="whatever" IPAddress="172.16.1.3" lowerIP="172.16.1.4" upperIP="172.16.1.254" leasesFilename="C:\Users\Dell\.Ld9VirtualBox\LdNatNetwork0-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
    <Option name="3" encoding="0" value="172.16.1.1"/>
    <Option name="6" encoding="0" value="8.8.8.8 8.8.4.4"/>
    <Option name="15" encoding="0" value="home"/>
  </Options>
</DHCPServer>
